
<%= form_with model:book, local:true do |f| %>
<div class="form-title row">
  <%= f.label :Title, class: "col-xs-12" %>
<%= f.text_field :title, class:"form-control" %>
</div>
<div class="form-body row">
<%= f.label :Opinion, class: "col-xs-12" %>
<%= f.text_area :body, class:"form-control" %>
<div class="actions row">
  <%= f.submit btn, class: "btn btn-success col-xs-12" %>
</div>
<% end %>