<h2>User info</h2>
<%= render 'users/profile' %>

<%= render 'books/form' %>

<h1>Book detail</h1>
<table>

<td><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %></td>
<td><%= link_to user_path(@book.user_id) do %></td>
<td><%=link_to @book.user.name, user_path(@book.user_id) %></td>
<% end %>
<td><%= link_to @book.title %></td>

<td><%= @book.body %></td>

<% if @book.user.id == current_user.id %>
<td><%= link_to "Edit", edit_book_path(@book) %></td>
<td><%= link_to "Destroy", method: :delete, "data-confirm" => "Are you sure？"  %></td>
<% end %>
</table>